/web/bundles/
/web/assetic/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.project
.settings/*
/src/*/*Bundle/Resources/config/bower/bower_components
/src/*/*Bundle/Resources/public/components

